<%- include('_navbar') -%>
    
<div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <h4>Simple Login & Register & Cek Saldo</h3>
</div>

<%- include('_footer') -%>